.spacing{
    padding: 2%;
    display: flexbox;
}


.text{
    display: inline-block;
    text-align: right;
}

.spacing-01{
    padding: 2%;
    box-sizing: border-box;
 
}



.move{
    position: fixed; right: 10%; bottom: 17%;
}