.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  padding-left: 10px;
}

/* .nav { */
/* margin: 0 0 30px; */
/* background-color: #bc91d9; */
/* overflow: hidden; */
/* } */

.nav-link {
  /* float: left; */
  color: #f2f2f2;
  background-color: #bc91d9;
  text-align: center;
  /* padding: 24px 10px; */
  text-decoration: none;
  font-size: 15px;
  /* display: inline; */

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-logout {
  background-color: #bc91d9;
  color: #f2f2f2;
  display: inline;
  border: none;
  outline: 0;
  cursor: pointer;
}

.nav-logout:hover {
  color: #233dd2;
}

.nav-item {
  display: inline;
  color: #f2f2f2;
}

/* .nav-link:hover {
  background-color: #d87e29;
} */

/* .nav-link:active {
  background-color: #bc91d9;
} */

/* .nav-right {
  float: right;
} */
