.nav-title {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  padding-left: 10px;
}

.nav-line {
  /* float: left; */
  color: #888;
  /* background-color: #bc91d9; */
  text-align: center;
  /* padding: 24px 10px; */
  text-decoration: none;
  font-size: 15px;
  display: inline;
  margin-right: 50px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-link {
  /* float: left; */
  color: #888;
  background-color: #bc91d9;
  text-align: center;
  /* padding: 24px 10px; */
  text-decoration: none;
  font-size: 15px;
  /* display: inline;
  margin-right: 50px; */

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.nav-logout {
  background-color: #f7fafc;
  color: #888;
  display: inline;
  border: none;
  outline: 0;
  cursor: pointer;
}

.nav-logout:hover {
  color: #233dd2;
}

.nav-item {
  display: inline;
  color: #f2f2f2;
  /* margin-right: 5px; */
}

.nav-piece {
  display: inline;
  color: #f2f2f2;
  margin-right: 5px;
}
